.programs-hed{
    gap: 4rem;
}
.reacy-span{
    gap: 2rem;
    display: flex;
    font-size: 3rem;

}

.plans-cont{
    margin-top: -4rem;
    padding:0 2rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    position: relative;
}
.plans-blur1{
width: 23rem;
height: 23rem;
top: 6rem;
left: 0;
}
.plans-blur2{
width: 32rem;
height: 23rem;
top: 10rem;
right: 0;
}
.plans{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 3rem;

}
.plan{
    display: flex;
    flex-direction: column;
    background: rgb(178, 90, 105);
    color: #fff;
    gap: 2rem;
    padding: 2rem;
    width: 15rem;

}
.plan:nth-child(2){
    background-color: var(--orange);
    transform: scale(1.1);
}
.plan>:nth-child(5){
    font-size: 0.8rem;
}
.features{
    display: flex;
    flex-direction: column;
    gap: 1em;

}
.feature{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.feature>img{
    width: 1rem;
}
